Segmentation Fault if channel = NULL

If the channel variable is NULL, strstr() function causes segmentation fault. This only occurs on specific servers that do not contain RFC1459 Section 4.2.1 compliant JOIN system messages.  

<sub>Sent from <a href="https://apps.apple.com/cn/app/id1314212521">PPHub</a></sub>